.GameStatus {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.85);
}

.GameStatus-Text {
  font-size: 32px;
  color: green;
  text-align: center;
}

.GameStatus-Button {
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}
